/* Global Styles */
body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
	color: seashell;
	background-color: black;
	font-size: 22px;
	text-align: center;
}

a {
	color: seashell;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
  color: seashell;
}
/* ./ Global Styles */

/* Header Styles */

header {
	display: flex;
	background-color:black;
	position: fixed;
	height: 69px;
	border-bottom: 1px solid seashell;
	width: 100%;
	align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

header img {
	height: 50px;
	padding-left: 10px;
}

nav {
	text-align: right;
	flex-grow: 1;
}

nav span {
	display: inline-block;
}
/* ./Header Styles */

/* Main Section */

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

/* Mission Section */

#hero {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
  margin: auto;
}

#hero .content {
  margin: auto;
  background-color: black;
  width: 100%;
}
