/* Global Styles */
body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
	color: seashell;
	background-color: black;
	font-size: 22px;
	text-align: center;
}

a {
	color: seashell;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
  color: seashell;
}


.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ./ Global Styles */

/* Header Styles */

header {
	display: flex;
	background-color:black;
	position: fixed;
	height: 69px;
	border-bottom: 1px solid seashell;
	width: 100%;
	align-items: center;
}

/*.container {
	display: flex;
	flex-wrap: wrap;
}*/

header img {
	height: 50px;
	padding-left: 10px;
}

nav {
	text-align: right;
	flex-grow: 1;
}

nav span {
	display: inline-block;
}
/* ./Header Styles */

/* Main Section */

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

/* Mission Section */

#hero {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
  margin: auto;
}

#hero .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

/* Features Section */

#features {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* ./Store Section */

/* Location Section */

.flex-container.locations {
  padding-top: 5px;
}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
}

.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ./Location Section */

/* Contact Section */

#contact {
  height: 200px;
}
